body {
  background-color: #000000;
  color: white;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.card {
  color: aliceblue;
  transition: transform 0.3s ease-in-out;
  background: url("8324.png");
}

.card:hover {
  transform: scale(1.05);
}

#exchange-rates {
  margin-top: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
}

.fa-dollar-sign {
  font-size: 1.4rem;
  color: #006400;
  margin-bottom: 4px;
}

.fa-euro-sign {
  font-size: 1.4rem;
  color: #85bb65;
  margin-bottom: 4px;
}

.fa-coins {
  font-size: 1.4rem;
  color: #ffd700;
  margin-bottom: 4px;
}

.fa-gem {
  font-size: 1.4rem;
  color: purple;
  margin-bottom: 4px;
}

img {
  display: inline;
  margin-bottom: 12px;
}

.card-body {
  background: rgba( 115, 115, 115, 0.2 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
}


#loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}


#loading-page p {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
}


#main-content {
  display: none;
}


  * {
    scrollbar-width: auto;
    scrollbar-color: #454545 #000000;
  }


  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #454545;
    border-radius: 10px;
    border: 3px solid #000000;
  }

  .increase {
    color: green;
}

.decrease {
    color: red;
}

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

h1 {
  transition: all 0.5s;
  -webkit-text-stroke: 4px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 5rem;
  text-align: center;
  padding-top: 22px;
  margin-top: 26px;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #07bccc,
    15px 15px 0px #e601c0,
    20px 20px 0px #e9019a,
    25px 25px 0px #f40468,
    45px 45px 10px #482896;
  cursor: pointer;
}



